---
import profilePicture from "@/assets/profile.webp";
import SectionContainer from "@/components/SectionContainer.astro";
import { me } from "@/lib/constants";
import { FileTextIcon, MailIcon } from "@lucide/astro";
import { Image } from "astro:assets";
import IconLink from "./IconLink.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<SectionContainer class="grid grid-cols-1 gap-8 md:grid-cols-2 md:items-center">
	<div class="space-y-4">
		<div class="space-y-2">
			<h1 class="text-3xl">Alvaro Resplandor</h1>

			<h2 class="text-secondary text-4xl font-medium">
				Desarrollador de Software
			</h2>
		</div>

		<p class="text-lg">
			Convierto ideas en soluciones de software limpias y funcionales
		</p>

		<div class="flex flex-col gap-2 md:flex-row">
			<a
				href={`mailto:${me.email}`}
				class="bg-primary hover:bg-primary/80 flex w-fit items-center gap-2 rounded-full px-4 py-2 text-white transition-colors"
			>
				<MailIcon class="inline size-6" />

				<span class="font-medium">Contáctame</span>
			</a>

			<div class="flex gap-2">
				<IconLink
					href={me.resume}
					download="Alvaro Resplandor - CV.pdf"
					title="CV"
				>
					<FileTextIcon class="inline size-6" />
				</IconLink>

				<IconLink
					href={me.linkedin}
					target="_blank"
					rel="noopener noreferrer"
					title="LinkedIn"
				>
					<LinkedIn class="inline size-6" />
				</IconLink>

				<IconLink
					href={me.github}
					target="_blank"
					rel="noopener noreferrer"
					title="GitHub"
				>
					<Github class="inline size-6" />
				</IconLink>
			</div>
		</div>
	</div>

	<div class="flex items-center justify-center">
		<Image
			src={profilePicture}
			alt="Foto de perfil"
			class="bg-accent w-[75%] rounded-full object-contain sm:w-[50%]"
			loading="eager"
		/>
	</div>
</SectionContainer>
